<ng-template #tpl_play>
    <button class="btn btn-outline-dark btn-sm" (click)="onStop()">⏹</button>
</ng-template>

<div class="grid-container">
    <div class="MenuBar">
        <div class="MenuBar-1">MenuBar-1</div>
        <div class="MenuBar-2">MenuBar-2</div>
    </div>
    <div class="ToolBox">
        <div class="ToolBox-2">
            <button class="btn btn-sm" (click)="onAddGeometry(objectType.box)">Box</button>
        </div>
        <div class="ToolBox-3"></div>
        <div class="ToolBox-1"></div>
    </div>
    <div class="GameTree"></div>
    <div class="GameController">
        <div class="GameController-1">GameController-1</div>
        <div class="GameController-2">
            <div class="d-flex justify-content-center p-1">
                <button class="btn btn-outline-dark btn-sm"
                    *ngIf="vstate.animateStatus === vAnimType.stop; else tpl_play" (click)="onPlay()">▶</button>

                <button class="btn btn-outline-dark btn-sm ml-2"
                    [class.active]="vstate.animateStatus === vAnimType.pause"
                    [disabled]="vstate.animateStatus === vAnimType.stop" (click)="onPause()">⏸</button>

                <button class="btn btn-outline-dark btn-sm ml-2"
                    [disabled]="!(vstate.animateStatus === vAnimType.pause)" (click)="onStep()">⏯</button>
            </div>
        </div>
        <div class="GameController-3">
            <div class="d-flex justify-content-center p-1">
                <div class="ml-auto">{{vstate.fps}} fps</div>
            </div>
        </div>
    </div>
    <div class="SceneView">
        <div #canvasBox>
        </div>
    </div>
    <div class="Properties"></div>
    <div class="Projects"></div>
</div>